@model IEnumerable<EvaluacionProducto.Models.Inventario>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdInventario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cantidadexistencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cantidadingreso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.valoringreso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fechaingreso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Producto)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdInventario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cantidadexistencia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cantidadingreso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.valoringreso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fechaingreso)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Producto.nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
